* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  letter-spacing: 0.01em;
}

header,
main,
footer,
nav,
aside,
section,
article,
div {
  display: block;
}

.menu-icon {
  width: 25px;
  height: 25px;
}

.search-icon {
  width: 22px;
  height: 22px;
}

.logo-image {
  width: auto;
  height: 40px;
  justify-self: start;
}

.image-wrapper {
  justify-self: end;
}

header {
  padding: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

nav {
  justify-self: end;
  display: flex;
  gap: 20px;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

nav ul a {
  appearance: none;
  text-decoration: none;
  color: black;
}

nav ul a p,
nav ul {
  margin-bottom: 0px !important;
}

.container {
  max-width: 1000px;
  margin: 10px auto !important;
  padding: 10px 20px;
}

h4.title {
  font-size: 20px;
  font-weight: 400;
}

h5.title {
  font-size: 18px;
  font-weight: 400;
}

.rectangle {
  margin-top: 15px;
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(
    177.35deg,
    #779f71 2.21%,
    #d8e4d6 131.11%,
    #ffffff 282.1%
  );
  display: grid;
  grid-template-columns: auto 120px;
  align-items: center;
  gap: 10px;
}

.rectangle .title {
  color: white;
  margin-bottom: 10px;
  font-weight: 500;
}

.rectangle .description {
  color: white;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 13px;
}

.rectangle img {
  width: 100%;
  height: auto;
}

.white-button {
  background: white;
  appearance: none;
  padding: 7px 18px;
  border-radius: 100px;
  border: none;
}

@media screen and (min-width: 800px) {
  .rectangle img {
    max-width: 150px;
    max-height: 150px;
  }

  footer {
    display: none !important;
    opacity: 0;
  }
  body {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .rectangle .description {
    font-size: 13.5px;
  }

  nav ul {
    display: none;
  }
  body {
    margin-bottom: 100px !important;
  }

  .form-container {
    padding: 10px;
  }

  header {
    grid-template-columns: 2fr 1fr;
  }
}

.regions-list {
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  display: grid;
  margin-top: 18px;
}

.region-div {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.region-div .title {
  font-weight: 500;
  margin-bottom: 4px;
}

.opportunities-list {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: none;
  padding: 14px;
  margin: -14px;
}

.opportunity-div {
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  max-width: 380px;
  min-width: 380px;
}

.opportunity-div div {
  padding-right: 10px;
  font-size: 14px;
}

.opportunity-div .title {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 14px;
}

.opportunity-div .description {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 2px;
}

.opportunity-div img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 25px;
  height: 155px;
}

footer {
  padding: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
}

footer a {
  font-size: 12px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

footer a p {
  margin-bottom: 0px;
}

.active {
  color: #779f71 !important;
}

footer a img {
  width: 23px;
  height: 23px;
}

.form-container {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.05);
  padding: 18px;
}

.form-container h3 {
  font-size: 18px;
  margin-top: 25px !important;
  margin-bottom: 20px !important;
  color: #529b47;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

input {
  font-size: 13px;
}

.px-25 {
  padding-left: 10px !;
  padding-right: 10px !important;
}

.py-25 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.user-welcome {
  display: flex;
  align-items: center;
  gap: 12px;
}

.mt-7 {
  margin-top: 30px;
}
.mb-4 {
  margin-bottom: 20px;
}

.available-select {
  margin-bottom: -7px !important;
}

.checkbox-input {
  margin-right: 10px !important;
  margin-left: 0px !important;
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: cover;
  object-position: top;
}

.submit-button {
  background-color: #779f71;
  border-color: #779f71;
  border: none;
  color: white;
  padding: 7px;
}

.delete-button {
  border: none;
  padding: 4px 10px;
  border-radius: 12px;
  margin-top: 4px;
}

.card .img-fluid {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  width: 300px;
  cursor: pointer;
}

.card p {
  width: 100%;
}
