* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  letter-spacing: 0.01em;
}

header,
main,
footer,
nav,
aside,
section,
article,
div {
  display: block;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-icon {
  width: 25px;
  height: 25px;
}

.search-icon {
  width: 22px;
  height: 22px;
}

.logo-image {
  width: auto;
  height: 40px;
  justify-self: start;
}

.image-wrapper {
  justify-self: end;
}

header {
  padding: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

nav {
  justify-self: end;
  display: flex;
  gap: 20px;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

nav ul a {
  appearance: none;
  text-decoration: none;
  color: black;
}

nav ul a p,
nav ul {
  margin-bottom: 0px !important;
}

.container {
  max-width: 1000px;
  margin: 10px auto !important;
  padding: 10px 20px;
}

h4.title {
  font-size: 20px;
  font-weight: 400;
}

h5.title {
  font-size: 18px;
  font-weight: 400;
}

.rectangle {
  margin-top: 15px;
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(
    177.35deg,
    #779f71 2.21%,
    #d8e4d6 131.11%,
    #ffffff 282.1%
  );
  display: grid;
  grid-template-columns: auto 120px;
  align-items: center;
  gap: 10px;
}

.rectangle .title {
  color: white;
  margin-bottom: 10px;
  font-weight: 500;
}

.rectangle .description {
  color: white;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 13px;
}

.rectangle img {
  width: 100%;
  height: auto;
}

.white-button {
  background: white;
  appearance: none;
  padding: 7px 18px;
  border-radius: 100px;
  border: none;
}

.user-welcome {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: cover;
  object-position: top;
}

@media screen and (min-width: 800px) {
  .rectangle img {
    max-width: 150px;
    max-height: 150px;
  }

  footer {
    display: none !important;
    opacity: 0;
  }

  footer a.active {
    color: #779f71 !important;
  }

  body {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .rectangle .description {
    font-size: 13.5px;
  }

  nav ul {
    display: none;
  }

  body {
    margin-bottom: 100px !important;
  }

  .form-container {
    padding: 10px;
  }

  .user-welcome h5,
  .user-profile {
    display: none;
  }

  .user-welcome .user-profile {
    justify-content: end;
  }

  .user-welcome.logo-image {
    transform: translateX(50%);
    justify-content: center;
  }
}

.regions-list {
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  display: grid;
  margin-top: 18px;
}

.region-div {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.region-div .title {
  font-weight: 500;
  margin-bottom: 4px;
}

.opportunities-list {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: none;
  padding: 14px;
  margin: -14px;
}

.opportunity-div {
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  max-width: 380px;
  min-width: 380px;
}

.opportunity-div div {
  padding-right: 10px;
  font-size: 14px;
}

.opportunity-div .title {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 14px;
}

.opportunity-div .description {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 2px;
}

.opportunity-div img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 25px;
  height: 155px;
}

footer {
  padding: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
}

footer a {
  font-size: 11px;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

footer a p {
  margin-bottom: 0px;
}

.active {
  color: #779f71 !important;
  font-weight: bold;
}

.nav-link.active {
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 431px) {
  .navbar-nav {
    gap: 20px;
    flex-direction: row;
    display: block;
  }
}

footer a img {
  width: 23px;
  height: 23px;
}

.form-container {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.05);
  padding: 18px;
}

.form-container h3 {
  font-size: 18px;
  margin-top: 25px !important;
  margin-bottom: 20px !important;
  color: #529b47;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

input {
  font-size: 13px;
}

.px-25 {
  padding-left: 10px !;
  padding-right: 10px !important;
}

.py-25 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.mt-7 {
  margin-top: 30px;
}
.mb-4 {
  margin-bottom: 20px;
}

.available-select {
  margin-bottom: -7px !important;
}

.checkbox-input {
  margin-right: 10px !important;
  margin-left: 0px !important;
}

.submit-button {
  background-color: #779f71;
  border-color: #779f71;
  border: none;
  color: white;
  padding: 7px;
}

.delete-button {
  border: none;
  padding: 4px 10px;
  border-radius: 12px;
  margin-top: 4px;
}

.card .img-fluid {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  cursor: pointer;
}

.card p {
  width: 100%;
}

@media (max-width: 431px) {
  .card {
    height: 50vh;
  }
}

#containerObj {
  padding: 10px;
}

#objectContainer .card-img-top {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 20px 20px;
}

#objectContainer .card-content {
  max-width: 1000px;
}

#objectContainer .card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 30px;
}

#objectContainer .card-text {
  font-size: 1rem;
  margin-bottom: 5px;
}

#containerObj {
  max-width: 1000px;
  margin: 10px auto !important;
  padding: 0px;
}

@media (max-width: 431px) {
  .card .col-6 {
    display: flex;
    flex-wrap: wrap;
  }

  #containerObj {
    max-width: 1000px;
    margin: 10px auto !important;
    padding: 10px;
  }

  #objectContainer .card-img-top {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px 20px;
  }
}

.reviews,
.read {
  color: blue;
}

#containerObj .btn {
  background-color: #779f71;
  border-color: #779f71;
  color: white;
  margin-bottom: 20px;
}

#containerObj .btn:hover {
  background-color: #529b47;
  border-color: #529b47;
  color: white;
}

.register-page {
  max-width: 300px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.register-page form,
.login-page form {
  gap: 5px;
  margin-top: 12px;
}

.register-page form input[type="email"],
.register-page form input[type="text"],
.register-page form input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-page select {
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-page form input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #337ab7;
  color: white;
  cursor: pointer;
}

.register-page form input[type="submit"]:hover {
  background: #286090;
}

.mt-5 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 12px;
}

.login-page {
  max-width: 300px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.login-page form input[type="email"],
.login-page form input[type="text"],
.login-page form input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-page form input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #5cb85c;
  color: white;
  cursor: pointer;
}

.login-page form input[type="submit"]:hover {
  background: #4cae4c;
}

.new-opportunity {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #f5f5f5;
  gap: 0px;
  max-width: 90%;
}

.new-opportunity-title {
  text-align: center;
  color: #3399cc;
}

.form-services {
  margin: 5px 0px 15px 0px;
}
.form-services button {
  padding: 4px;
  margin-top: 5px;
}

.new-opportunity input,
.new-opportunity select,
.new-opportunity textarea,
.new-opportunity .submit-button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.new-opportunity .submit-button {
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
}

#my-opportunities-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
  gap: 15px;
}

.opportunity-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  text-decoration: none;
}

.opportunity-wrapper img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 0 0 10px;
}

.opportunity-wrapper .date {
  font-size: 13px;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

.opportunity-wrapper .approved {
  padding: 5px 8px;
  background-color: #4caf50;
  color: white;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border-radius: 6px;
  width: fit-content;
  font-size: 11px;
  letter-spacing: 0.01em;
}

.opportunity-wrapper .flex {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.opportunity-wrapper .declined {
  padding: 5px 8px;
  background-color: #d33b3b;
  color: white;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border-radius: 6px;
  width: fit-content;
  font-size: 11px;
  letter-spacing: 0.01em;
}

.opportunity-wrapper .pending {
  padding: 5px 8px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border-radius: 6px;
  width: fit-content;
  font-size: 11px;
  letter-spacing: 0.01em;
}

.opportunity-wrapper svg {
  position: absolute;
  right: 10px;
  transform: rotate(180deg);
}

.add-opportunity-button {
  padding: 8px 12px;
  color: white;
  background: #4cae4c;
  border-radius: 5px;
  font-size: 13px;
  text-decoration: none;
}
